<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 11px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }

        th,
        td {
            padding: 4px;
            border: 1px solid black;
            text-align: left;
            vertical-align: top;
        }

        .no-border {
            border: none;
        }

        .center-text {
            text-align: center;
        }

        .right-text {
            text-align: right;
        }

        .bold {
            font-weight: bold;
        }

        .signature {
            margin-top: 10px;
            text-align: right;
            margin: 0;
            padding: 0;
        }

        .thank-you {
            margin-top: 10px;
            text-align: center;
            font-style: italic;
        }
    </style>
</head>

<body>

    <table class="no-border">
        <tr>
            <td colspan="2" class="center-text bold">TAX INVOICE</td>
        </tr>
        <tr>
            <td colspan="2" class="center-text">
                <div class="header-section">
                    <img style="width: 100px; height: auto;" src="<%= invoice.logoUrl %>" alt="Sikka Cleaners">
                </div>
            </td>
        </tr>
    </table>

    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <td><strong>Invoice Number:</strong>
                <strong>
                    <%= invoice.invoiceNumber %>
                </strong>
            </td>

            <td rowspan="2" style="padding-top: 10px;">
                <strong>Collection Date & Time:</strong>
                <%= invoice.collectionTime %><br>
                    <strong>Delivery Date & Time:</strong>
                    <%= invoice.deliveryTime %>
            </td>
        </tr>
        <tr>
            <td><strong>Date:</strong>
                <strong>
                    <%= invoice.date %>
                </strong>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td>
                <strong>Bill To</strong><br>
                <strong>Customer Name: </strong>
                <strong>
                    <%= invoice.customer.name %>
                </strong><br>
                <%= invoice.customerAddress %><br>
                    <strong>Phone: </strong>
                    <%= invoice.customer.contact %><br>

                        <% if(invoice.customerCompanyName){ %>
                            <strong>Company: </strong>
                            <%= invoice.customerCompanyName %><br>
                                <% } %>

                                    <% if(invoice.custometGstIn) { %>
                                        <strong>GSTIN: </strong>
                                        <%= invoice.custometGstIn %>
                                            <% } %>
            </td>
            <td>
                <strong>Bill From</strong><br>
                <strong>
                    <%= invoice.companyName %>
                </strong><br>
                <strong>Branch Name: </strong>
                <%= invoice.branchName %><br>
                    <strong>Address: </strong><%= invoice.branchAddress %><br>
                    <strong>Mo.: <%= invoice.branchMobileNumber %></strong> <br>
                    <strong>GSTIN: <%= invoice.gstIn %></strong><br>
                    <strong>HSN Code: </strong>
                    <%= invoice.hsnCode %><br>
                        <strong>MSME Number: </strong>
                        <%= invoice.companyMsmeNo %>
            </td>
        </tr>
    </table>

    <table>
        <thead>
            <tr>
                <th style="text-align: center;">Item Name</th>
                <th style="text-align: center;">Service</th>
                <th style="text-align: center;">Rate</th>
                <th style="text-align: center;">QTY</th>
                <th style="text-align: center;">Amount (INR)</th>
            </tr>
        </thead>
        <tbody>
            <% invoice.items.forEach(item=> { %>
                <tr>
                    <td>
                        <%= item.product %>
                            <%= item.category %>
                    </td>
                    <td style="text-align: center;">
                        <%= item.service %>
                    </td>
                    <td style="text-align: center;">
                        <%= item.rate %>
                    </td>
                    <td style="text-align: center;">
                        <%= item.quantity %>
                    </td>
                    <td style="text-align: center;">
                        <%= item.amount %>
                    </td>
                </tr>
                <% }) %>
                    <tr>
                        <td colspan="3" class="bold">Sub Total</td>
                        <td class="bold" style="text-align: center;">
                            <%= invoice.totalQty %>
                        </td>

                        <td style="text-align: center;" class="bold">
                            <%= invoice.itemsTotal.toFixed(2) %>
                        </td>
                    </tr>
                    <% if(invoice.normalDeliveryCharges){ %>
                        <tr>
                            <td colspan="4">Normal Delivery Charges</td>
                            <td style="text-align: center;">
                                <%= invoice.normalDeliveryCharges.toFixed(2) %>
                            </td>
                        </tr>
                        <% } %>
                            <% if (invoice.expressDeliveryCharges> 0) { %>
                                <tr>
                                    <td colspan="4">Express Delivery Charge:</td>
                                    <td style="text-align: center;">
                                        <%= invoice.expressDeliveryCharges.toFixed(2) %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% if (invoice.discount> 0) { %>
                                        <tr>
                                            <td colspan="4">Discount</td>
                                            <td style="text-align: center;">
                                                <%= invoice.discount.toFixed(2) %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <tr>
                                                <td colspan="4">Net Amount (Incl. GST)</td>
                                                <td style="text-align: center;" class="bold">
                                                    <%= invoice.totalAmount.toFixed(2) %>
                                                </td>
                                            </tr>

                                            <% if(invoice.companyGstPercetage){ %>

                                                <tr>
                                                    <td colspan="4">Taxable Value</td>
                                                    <td style="text-align: center;">
                                                        <%= invoice.gstAmount.toFixed(2) %>
                                                    </td>
                                                </tr>
                                                <% if (invoice.addressState=="gujarat" ||
                                                    invoice.addressState=="Gujarat" ) { %>
                                                    <tr>
                                                        <td colspan="4">
                                                            <%= invoice.inStateGst %>% CGST
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <%= invoice.cgstAmount.toFixed(2) %>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <%= invoice.inStateGst %>% SGST
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <%= invoice.sgstAmount.toFixed(2) %>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                                        <% if (invoice.addressState !="gujarat" && invoice.addressState
                                                            !="Gujarat" ) { %>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <%= invoice.companyGstPercetage %>% IGST
                                                                </td>
                                                                <td style="text-align: center;">
                                                                    <%= invoice.igstAmount.toFixed(2) %>
                                                                </td>
                                                            </tr>
                                                            <% } %>

                                                                <% }%>
                                                                    <tr>
                                                                        <td colspan="4" class="bold">Total Amount (Incl.
                                                                            GST)</td>
                                                                        <td style="text-align: center;" class="bold">
                                                                            <%= invoice.totalAmount.toFixed(2) %>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="5" style="text-align: center;">
                                                                            Total Amount In
                                                                            Words:
                                                                            <%= invoice.totalInWords %>
                                                                        </td>
                                                                    </tr>
        </tbody>
    </table>

    <div class="signature">
        <p>
            <%= invoice.companyName %>
        </p>
        <% if(invoice.signatureImage){ %>
            <img src="<%= invoice.signatureImage %>" alt="Signature" style="width: 100px; height: 30px;" />
            <% } %>
                <p>Authorized Signatory</p>
    </div>

    <div class="thank-you">
        <p>Thank You for choosing Sikka Cleaners!!</p>
    </div>

</body>

</html>